#!/bin/bash -e

function run_precommit_checks
{
	python -m mypy --config-file ./.mypy.ini --check-untyped-defs $1
	python -m ruff check --unsafe-fixes --config .ruff.toml $1
	python -m yapf -r -i --style .style.yapf $1
	
	return 0
}

		
source ${ENV_PYTHON_PATH}/bin/activate

sphinx-build -b html docs/ docs/_build -W
for file in $(git diff --name-only --cached | grep py)
do
	run_precommit_checks $file
done
	
