sphinx >= 7.4.7
sphinx_rtd_theme
sphinx-argparse >= 0.5.2
sphinx-autodoc-typehints
sphinx-design
# Running CLI programs and capture outputs
sphinxcontrib-programoutput>=0.17
# Installing all package requirements to be able to load all the modules and run the help.
vtk >= 9.3
networkx >= 2.4
tqdm
numpy >= 1.26
pandas >= 2.2
typing_extensions >= 4.12
matplotlib >= 3.9.4
h5py
lxml >= 4.5.0
parameterized
pyvista
