sphinx >= 7.4.7
sphinx_rtd_theme
sphinx-argparse >= 0.5.2
sphinx-design
# Running CLI programs and capture outputs
sphinxcontrib-programoutput>=0.17
# Installing the mesh_doctor requirements to be able to load all the modules and run the help.
vtk >= 9.1
networkx >= 2.4
tqdm
numpy
